* {
  padding: 0;
  margin: 0;
}

html {
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}

body {
  background-color: rgb(255, 255, 255);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Leon Sans', sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
}
